<% include  ../partials/header %>


	<h2>ERROR</h2>  

 <p>An error was found with the following message</p>


<div class="row">
    <div class="col-sm-5">
        <table class="table table-striped"> 
        <tr><th>Message:</th><td> <%= message %></td></tr>
        <tr><th>Stack:</th><td> <%= stack %></td></tr>
         
        </table>
    </div>
</div>
 

 <% include  ../partials/footer %>
 
 