 <% include  partials/header %>
	 
<script src="js/jquery.min.js" type="text/javascript"></script>	 


<style>
    .loading {
     background: url("img/ajax-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
     display: inline-block;
     visibility:hidden;
     height: 50px;
     margin-left: 20px;
     width: 100px;
}

   #html
    {

        width: 600px;
        height: 200px;

    }
   form
    {

      margin-left: 50px;
    }
   

</style>
	 
	<h3>Home Page</h3>
        
      

    <form method="POST" id="imageForm" action="/snapShotService">

        <h5>HTML</h5>

<p><input name="submit" type="submit" value="debug Page View" /></p>
       <p><textarea id="html" name="html"></textarea></p>
       



    </form>
    <p><button onClick="doDownLoad()">Download Image</button> <span id="loader" class="loading">   </p>


<script src="js/code.js" type="text/javascript"></script>
 <% include  partials/footer %>

	