 <% include  partials/header %>
	 

	 
	<h3>Sample Application</h3>
        
        
        <section>
         Sample REST service: point browser to <a href="http://localhost:3000/rest/thing/35">http://localhost:3000/rest/thing/35</a>
        

        </section>
 

    
    

 <% include  partials/footer %>